<!-- @author Steven Myers -->
<style>
  #adminContent{
    height: 100%;
    height: 100vh;
    position: fixed;
    overflow: scroll;
  }
</style>
<div ng-controller="adminPanelController" layout="column" flex >
  <section layout="row">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-sm')">
      <md-list-item>
        <md-content ng-click="allNotifications()">
          All Notifications
        </md-content>
      </md-list-item>
      <md-list-item>
        <md-content ng-click="people()">
          Person Notifications
        </md-content>
      </md-list-item>
      <md-list-item>
        <md-content ng-click="mentorships()">
          Mentorship Notifications
        </md-content>
      </md-list-item>
      <md-list-item>
        <md-content ng-click="supervisions()">
          Supervision Notifications
        </md-content>
      </md-list-item>
      <md-list-item>
        <md-content ng-click="manageUsers()">
          User Management
        </md-content>
      </md-list-item>
    </md-sidenav>
    <div layout="column" style="width:80%;" id="adminContent">
      <div ng-if="personNotifications && data.person_notifications.length > 0">
        <person-notifications data="data.person_notifications"></person-notifications>
      </div>
    </div>
  </section>
</div>
