<!-- @author Steven Myers -->
<style>
  #adminContent{
    height: 100%;
    height: 100vh;
    overflow: scroll;
  }
</style>
<div ng-controller="adminPanelController" layout="column" flex >
  <section layout="row">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-sm')">
      <md-button class="md-raised md-primary" id="adminPanelAllButton" ng-click="allNotifications()">
        All Notifications
      </md-button>
      <md-button class="md-raised md-primary" id="adminPanelPersonsButton" ng-click="people()">
        Person Notifications
      </md-button>
      <md-button class="md-raised md-primary" id="adminPanelMentorshipsButton"  ng-click="mentorships()">
        Mentorship Notifications
      </md-button>
      <md-button class="md-raised md-primary" id="adminPanelSupervisionsButton" ng-click="supervisions()">
        Supervision Notifications
      </md-button>
      <md-button class="md-raised md-primary" id="adminPanelUserManagementButton" ng-click="manageUsers()">
        User Management
      </md-button>
      <md-button class="md-raised md-primary" id="adminPanelUserManagementButton" ng-click="gotoHome()">
        Home
      </md-button>
    </md-sidenav>
    <div layout="column" style="width:80%;" id="adminContent">
      <md-content flex layout-padding>
        <div id="AdminPanelPersonNotificationsGeneral" ng-if="personNotifications && data.person_notifications.length > 0">
          <person-notifications id="individualPersonNotification" data="data.person_notifications"></person-notifications>
        </div>
        <div id="AdminPanelMentorshipNotificationsGeneral" ng-if="mentorshipNotifications && data.mentorship_notifications.length > 0">
          <mentorship-notifications id="individualMentorshipNotification" data="data.mentorship_notifications"></mentorship-notifications>
        </div>
        <div id="AdminPanelSupervisionNotificationsGeneral" ng-if="supervisionNotifications && data.supervision_notifications.length > 0">
          <supervision-notifications id="individualSupervisionNotification" data="data.supervision_notifications"></supervision-notifications>
        </div>
      </md-content>

      <!-- bad -->
      <br><br><br><br><br>
    </div>
  </section>
</div>
