<style>
#adminContainer {
  -webkit-flex-direction: row;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  /*background-color: dodgerblue;*/
  margin: 2% 2%;
  min-height: 80vh;
  overflow: hidden;
  position: relative;
}
</style>
<div id="adminContainer">
  <div ng-controller="adminPanelController" layout="column" ng-cloak>
    <md-toolbar md-scroll-shrink>
      <div class="md-toolbar-tools">Administrator Notifications</div>
    </md-toolbar>
    <md-content layout-padding>
      <section>
        <md-subheader class="md-primary">{{data.person_notifications.length}} Person Notifications</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="person in data.person_notifications">
          <div class="md-list-item-text">
            <a ui-sref="main.personNotification({person: data.person_notifications[$index]})">
              <h2>{{person.target.person.name}}</h2>
              <h3>{{person.target.person.position}}</h3>
              <h3>{{person.target.person_institution.name}}</h3>
            </a>
          </div>
        </md-list-item>
      </section>
    </md-content>
    <md-content layout-padding>
      <section>
        <md-subheader class="md-primary">{{data.mentorship_notifications.length}}
          Mentorship Notifications
        </md-subheader>
        <md-list-item class="md-3-line" ng-repeat="mentorship in data.mentorship_notifications">
          <div class="md-list-item-text">
            <a
            ui-sref="main.mentorshipNotification({mentorId: mentorship.mentor.person.id, menteeId: mentorship.mentored.person.id, mentorshipId: mentorship.mentorship.data.id})">
              <h2><i>{{mentorship.mentor.person.name}}</i> mentored <i>{{mentorship.mentored.person.name}}</i></h2>
              <h3>{{mentorship.mentorship.institution.name}}</h3>
              <h3>{{mentorship.mentorship.data.start}} - {{mentorship.mentorship.data.end}}</h3>
            </a>
          </div>
        </md-list-item>
      </section>
    </md-content>
    <md-content layout-padding>
      <section>
        <md-subheader class="md-primary">{{data.supervision_notifications.length}}
          Supervision Notifications
        </md-subheader>
        <md-list-item class="md-3-line" ng-repeat="supervision in data.supervision_notifications">
          <div class="md-list-item-text">
            <a
            ui-sref="main.supervisionNotification({supervisorId: supervision.supervisor.person.id, supervisedId: supervision.supervised.person.id, supervisionId: supervision.supervision.data.id})">
              <h2><i>{{supervision.supervisor.person.name}}</i> supervised <i>{{supervision.supervised.person.name}}</i></h2>
              <h3>at {{supervision.supervision.institution.name}}</h3>
              <h3>{{supervision.supervision.degree.degree_type}} on {{supervision.supervision.degree.year}}</h3>
            </a>
          </div>
        </md-list-item>
      </section>
    </md-content>
    <md-content layout-padding>
      <section>
        <md-subheader class="md-primary">{{data.user_notifications.length}}
          User Notifications
        </md-subheader>
        <md-list-item ng-repeat="user in data.user_notifications">
          <div class="md-list-item-text">
            <h2>{{user.first_name}} {{user.last_name}}</h2>
            <h3>{{user.email}}</h3>
          </div>
            <section layout="row" layout-align="center center" layout-wrap>
              <md-button ng-click="approveUser($index)" class="md-primary md-raised">Accept</md-button>
              <md-button ng-disabled="true" class="md-warn md-raised">Reject</md-button>
            </section>
          </md-list-item>
      </section>
    </md-content>
    <md-content layout-padding>
      <section>
        <md-subheader class="md-primary">{{data.admin_notifications.length}}
          Admin Notifications
        </md-subheader>
        <md-list-item ng-repeat="admin in data.admin_notifications">
          <div class="md-list-item-text">
            <h2>{{admin.user.first_name}} {{admin.user.last_name}}</h2>
            <h3>{{admin.user.email}}</h3>
          </div>
            <section layout="row" layout-align="center center" layout-wrap>
              <md-button ng-click="approveAdmin($index)" class="md-primary md-raised">Accept</md-button>
              <md-button ng-disabled="true" class="md-warn md-raised">Reject</md-button>
            </section>
          </md-list-item>
      </section>
    </md-content>
  </div>
</div>
