<div ng-controller="adminPanelController" layout="column" ng-cloak id="popupContainer">
    <!-- This bit will cause the layout to follow a general padding style-->
    <md-content layout-padding>
        <!-- This form is called "userForm" -->
        <form name="userForm">

            <div id="primarySubmitScreenContainer">
                <span flex></span>
                <md-card flex-xs flex-gt-xs="50">

                    adminPageDetailed.

                    </md-card>
                </div>
            </form>
        </md-content>
    </div>
