


<!-- Web page for the audit trail -->

<div ng-controller="auditTrailController" layout="column" ng-cloak>
    <md-content layout-padding align="center">
        <form name="userForm">
        <div id="auditTrailHTMLScreenContainer">

        <md-card flex-xs flex-gt-xs="50" layout-align-lg="center">
            <md-input-container style="font-variant:small-caps;">
                <md-card>
                    <h1>Audit Trail Section</h1>
                        Below contains all of the information for all edits in the system...
                    </md-card>
            </md-input-container>









            Now the information from Audit Trail Object will be dumped here

            <div ng-repeat="item in data.edits" >
                <md-card>

                    <div layout="column" align="center">

                        <!-- Item Type -->
                        <span><h2>{{item.type}}</h2></span>

                        <!-- Where is the edit from -->
                        <span>Profile where changes were made: {{item.person_id}}</span>

                        <span>Date of Modification: {{item.date}}</span>
                        <p></p>





                        <!-- DETAILED INFORMATION. HAND WRITTEN EVERY SINGLE LAST POSSIBLE INCOMING THING. -->
                        <span>Details of modification:</span>

                        <!-- NAME CHANGE -->
                        <span ng-if="item.changes.name.length >0 ">
                            Name Change: {{item.changes.name[0]}} ->  {{item.changes.name[1]}}
                        </span>

                        <!-- Supervisor ID CHANGE -->
                        <span ng-if="item.changes.supervisor_id.length >0 ">
                            Supervisor ID Change: {{item.changes.supervisor_id[0]}} ->  {{item.changes.supervisor_id[1]}}
                        </span>

                        <!-- Person ID change -->
                        <span ng-if="item.changes.person_id.length >0 ">
                            Person ID Change: {{item.changes.person_id[0]}} ->  {{item.changes.person_id[1]}}
                        </span>

                        <!-- Mentor ID Change -->
                        <span ng-if="item.changes.mentor_id.length >0 ">
                            Mentor ID Change: {{item.changes.mentor_id[0]}} ->  {{item.changes.mentor_id[1]}}
                        </span>

                        <!-- Object changes -->
                        <span ng-if="item.changes.object_changes.length >0 ">
                            Object Change: {{item.changes.object_changes[0]}} ->  {{item.changes.object_changes[1]}}
                        </span>

                        <!-- degree id changes -->
                        <span ng-if="item.changes.degree_id.length >0 ">
                            Degree ID change: {{item.changes.degree_id[0]}} ->  {{item.changes.degree_id[1]}}
                        </span>

                        <!--&lt;!&ndash; Person id changes &ndash;&gt;-->
                        <!--<span ng-if="item.changes.person_id.length >0 ">-->
                            <!--Person ID change: {{item.changes.person_id[0]}} ->  {{item.changes.person_id[1]}}-->
                        <!--</span>-->

                        <!-- start change -->
                        <span ng-if="item.changes.start.length >0 ">
                            Start year change: {{item.changes.start[0]}} ->  {{item.changes.start[1]}}
                        </span>

                        <!-- end change -->
                        <span ng-if="item.changes.end.length >0 ">
                            End year change: {{item.changes.end[0]}} ->  {{item.changes.end[1]}}
                        </span>

                        <!-- institution id change -->
                        <span ng-if="item.changes.institution_id.length >0 ">
                            Institution ID change: {{item.changes.institution_id[0]}} ->  {{item.changes.institution_id[1]}}
                        </span>

                        <!-- Position change -->
                        <span ng-if="item.changes.position.length >0 ">
                            Position Change: {{item.changes.position[0]}} ->  {{item.changes.position[1]}}
                        </span>









                    </div>



                </md-card>
            </div>














            <md-button id="leReturnToSearchPageButton" ng-click="goBackToMain()"> click here to go back to the search page </md-button>

        </md-card>

        </div>
        </form>


    </md-content>
</div>




<style>
    #auditTrailHTMLScreenContainer {
        -webkit-flex-direction: row;
        display: -webkit-flex;

        display: flex;
        flex-direction: row;


        justify-content: space-around;
        align-items: stretch;

        /*border-radius: 25px;*/
        /*border: solid 1px #00BCD4;*/

        /*box-shadow: 3px 3px 5px 6px #ccc;*/

        /*background-color: #006699;*/


        margin: 0% 0%;

        min-height: 80vh;
    }</style>