<header>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <!-- take up first 30% of toolbar -->
      <span flex="30"></span>
      <span flex="60">

        Chemistry Genealogy
      </span>
      <span flex="10">
        <div ng-controller="loginController" layout-align="center end">
          <md-menu>
            <md-button class="md-fab md-accent" aria-label="login" ng-click="login($event)">
              <md-icon md-svg-src="/static/img/person.svg"></md-icon>
            </md-button>
            <md-menu-content>
             <md-menu-item><md-button>Login</md-button></md-menu-item>
           </md-menu-content>
          </md-menu>
        </div>
      </span>
    </div>
  </md-toolbar>
</header>

<div ui-view></div>
