<header>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <!-- take up first 15% of toolbar -->
      <span flex="15"></span>
      <!-- logo that links to home page -->
      <span flex="5">
        <img ng-src="/static/img/cg.png" />
      </span>

      <span flex="60">

        <a ui-sref="main.submit"> <md-button class="md-raised">SUBMIT PAGE (TEMP?)</md-button> </a>
        <A NG-HREF="index.html"><b>Chemistry Genealogy</b></A>

        <b>Chemistry Genealogy</b>

      </span>
      <span flex="20">
        <div ng-controller="userController" layout-align="center end">
          <md-button class="md-fab md-accent" aria-label="login" ng-click="login($event)" ng-show="showLogin()">
            <md-icon md-svg-src="/static/img/person.svg"></md-icon>
          </md-button>
          <md-menu ng-show="showUser()">
            <!-- this getUsername() call polls the application... -->
            <md-button md-no-ink class="md-accent" ng-click="$mdOpenMenu($event)">
              {{getUsername()}}
            </md-button>
            <md-menu-content width="2">
              <md-button ng-click="logout()">
                 <span md-menu-align-target>Logout</span>
              </md-button>
            </md-menu-content>
          </md-menu>
        </div>
      </span>
    </div>
  </md-toolbar>
</header>

<div ui-view></div>
