<style>
  .mentorshipContent{
    /*height: 100%;
    height: 100vh;
    position: fixed;
    overflow: scroll;*/

  }
</style>

<div ng-controller="mentorshipNotificationController" layout="column" flex >
  <section layout="row">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-sm')">
      <md-list-item>
        <md-content layout-padding layout="row" layout-align="center center">
          <md-button id="adminMentorshipDetailAcceptButton" class="md-raised md-primary" ng-click="approveMentorship()">
            Approve
          </md-button>
          <md-button id="adminMentorshipDetailRejectButton" class="md-raised md-warn" ng-click="rejectMentorship()">
            Reject
          </md-button>
        </md-content>
      </md-list-item>
        <md-button class="md-raised md-primary" id="adminMentorshipDetailAllDetailsButton" ng-click="allDetails()">
          Full Details
        </md-button>
        <md-button class="md-raised md-primary" id="adminMentorshipDetailMentorOnlyButton" ng-click="onlyMentorDetails()">
          Postdocs
        </md-button>
        <md-button class="md-raised md-primary" id="adminMentorshipDetailMentoredOnlyButton" ng-click="onlyMentoredDetails()">
          Mentored
        </md-button>
        <md-button class="md-raised md-primary" id="adminMentorshipDetailSupervisorOnlyButton" ng-click="onlySupervisorDetails()">
          Degrees
        </md-button>
        <md-button class="md-raised md-primary" id="adminMentorshipDetailSupervisedOnlyButton" ng-click="onlySupervisedDetails()">
          Supervised
        </md-button>
    </md-sidenav>
    <div flex style="border-right: solid;">
      <md-toolbar class="md-warn" layout-align="center center" layout="column">
        <div> Mentor </div>
        <div id="adminMentorshipDetailPersonName"> {{mentor.person.data.name}} </div>
        <div id="adminMentorshipDetailPersonPosition"> {{mentor.person.data.position}} </div>
        <div id="adminMentorshipDetailPersonInstitution"> {{mentor.person.institution.name}} </div>
      </md-toolbar>
      <div ng-if="mentorDetails && mentor.mentors.length > 0">
        <view-mentors data="mentor.mentors" links="false"></view-mentors>
      </div>
      <div ng-if="supervisorDetails && mentor.supervisors.length > 0">
        <view-supervisors data="mentor.supervisors" links="false"></view-supervisors>
      </div>
      <div ng-if="supervisedDetails && mentor.supervised.length > 0">
        <view-supervised data="mentor.supervised" links="false"></view-supervised>
      </div>
      <div ng-if="mentoredDetails && mentor.mentored.length > 0">
        <view-mentored data="mentor.mentored" links="false"></view-mentored>
      </div>

    </div>
    <div flex style="border-left: solid;">
      <md-toolbar class="md-accent" layout-align="center center" layout="column">
        <div> Mentored </div>
        <div id="adminMentorshipDetailMenteeName"> {{mentee.person.data.name}} </div>
        <div id="adminMentorshipDetailMenteePosition"> {{mentee.person.data.position}} </div>
        <div id="adminMentorshipDetailMenteeInstitution"> {{mentee.person.institution.name}} </div>
      </md-toolbar>
      <div ng-if="mentorDetails && mentee.mentors.length > 0">
        <view-mentors data="mentee.mentors" links="false"></view-mentors>
      </div>
      <div ng-if="supervisorDetails && mentee.supervisors.length > 0">
        <view-supervisors data="mentee.supervisors" links="false"></view-supervisors>
      </div>
      <div ng-if="supervisedDetails && mentee.supervised.length > 0">
        <view-supervised data="mentee.supervised" links="false"></view-supervised>
      </div>
      <div ng-if="mentoredDetails && mentee.mentored.length > 0">
        <view-mentored data="mentee.mentored" links="false"></view-mentored>
      </div>
    </div>
  </section>
</div>
