<!--Temporary page for Terms of Use and Conditions page-->

<head>
<style>
* {
  margin: 0;
}

html, body {
  height: 100%;
  background-color: lightblue;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.footer, .push {
  height: 4em;
}

</style>
</head>
<body>
    <h3 style = "text-align:center;">Privacy Policy</h3>
    <div class="wrapper">
        <p>Privacy Policy information here</p>
    </div>
    <div class="footer">
      <a href = "../views/terms.html">Terms and Conditions of Use</a>
      <a href = "../views/privacy.html">Privacy Policy</a>
      <a href = "../views/contact.html">Contact Us</a>
    </div>
</body>
