<!-- @author Steven Myers -->
<style>

  #searchContainer {
    -webkit-flex-direction: row;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    border-radius: 25px;
    border: solid 1px #d3d3d3;
    /*background-color: dodgerblue;*/
    margin: 2% 2%;
    min-height: 80vh;
    overflow: hidden;
    position: relative;
  }

  #searchContainer > #searchResults {
    margin: 0% 0%;
    flex: 1 1 2%;
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: ghostwhite;
  }


  #searchContainer > #dataVis {
    margin: 1vh 1vh;
    background-color: ghostwhite;
    border: solid;
    flex: 1 1 70%;
    order: 2;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .list-header {
    padding-left: 5vh;
  }
</style>
<style id="css">
  body {
  font: 300 14px 'Helvetica Neue', Helvetica;
  }

  .node rect {
  stroke: #333;
  fill: #fff;
  }

  .edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 1.5px;
  }
  svg {
    border: 1px solid #999;
    overflow: hidden;
  }
  .legend {float: left;
    width: 20px;
    height: 20px;
    margin: 5px 5px 5px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
  }
</style>


<md-content class="md-accent">
  <div id="searchContainer" >
    <div id="searchResults" ng-controller="searchController">
      <md-content>
        <md-list flex>
          <div ng-if="target.length > 0">
            <md-subheader class="md-no-sticky list-header" flex layout-align="center center">
              target
            </md-subheader>
            <md-divider ></md-divider>
          </div>
          <md-list-item id='searchDetailedInfoTarget' class="md-3-line" ng-repeat="person in target">
            <a ng-click="goToView(person)">
              <div class="md-list-item-text" layout="column">
              <h3>{{person.name}}</h3>
              <h4>{{person.institution}}</h4>
              <p>{{person.position}}

              <md-divider ></md-divider>
            </div>
            </a>
          </md-list-item>

          <div ng-if="mentors.length >0">
            <md-subheader class="md-no-sticky list-header" flex layout-align="center center">
              mentors
            </md-subheader>
            <md-divider ></md-divider>
          </div>
          <md-list-item id="searchDetailedInfoMentors" class="md-3-line" ng-repeat="mentor in mentors">
            <a ng-click="goToView(mentor)">
              <div class="md-list-item-text" layout="column">
                <h3>{{mentor.name}}</h3>
                <h4>{{mentor.institution}}</h4>
                <p>{{mentor.position}}
                <md-divider ></md-divider>
              </div>
            </a>
          </md-list-item>

          <div ng-if="mentored.length >0">
            <md-subheader class="md-no-sticky list-header" flex layout-align="center center">
              mentored
            </md-subheader>
            <md-divider ></md-divider>
          </div>
          <md-list-item id="searchDetailedInfoMentored" class="md-3-line" ng-repeat="mentor in mentored">
            <a ng-click="goToView(mentor)">
              <div class="md-list-item-text" layout="column">
                <h3>{{mentor.name}}</h3>
                <h4>{{mentor.institution}}</h4>
                <p>{{mentor.position}}
                <md-divider ></md-divider>
              </div>
            </a>
          </md-list-item>

          <div ng-if="supervisors.length >0">
            <md-subheader class="md-no-sticky list-header" flex layout-align="center center">
              supervisors
            </md-subheader>
            <md-divider ></md-divider>
          </div>
          <md-list-item id="searchDetailedInfoSupervisors" class="md-3-line" ng-repeat="supervisor in supervisors">
            <a ng-click="goToView(supervisor)">
              <div class="md-list-item-text" layout="column">
                <h3>{{supervisor.name}}</h3>
                <h4>{{supervisor.institution}}</h4>
                <p>{{supervisor.position}}
                <md-divider ></md-divider>
              </div>
            </a>
          </md-list-item>

          <div ng-if="supervised.length >0">
            <md-subheader class="md-no-sticky list-header" flex layout-align="center center">
              supervised
            </md-subheader>
            <md-divider ></md-divider>
          </div>
          <md-list-item id="searchDetailedInfoSupervised" class="md-3-line" ng-repeat="supervisor in supervised">
            <a ng-click="goToView(supervisor)">
              <div class="md-list-item-text" layout="column">
                <h3>{{supervisor.name}}</h3>
                <h4>{{supervisor.institution}}</h4>
                <p>{{supervisor.position}}
                <md-divider ></md-divider>
              </div>
            </a>
          </md-list-item>

        </md-list>

      </md-content>
    </div>

    <div id="dataVis" ng-controller="visController">
      <table style="padding: 5px;">
      <tbody>
      <tr>
      <td>
      <div style="background-color: #f77;">target</div>
      </td>
      <td>
      <div style="background-color: #AEC6CF;">supervisor/supervised</div>
      </td>
      <td>
      <div style="background-color: #B19CD9;">mentor/mentored</div>
      </td
      </tr>
      </tbody>
      </table>
      <svg width=1160  height=620>
        <g transform="translate(300,20)"/>
      </svg>
    </div>
  </div>
</md-content>
