<style>

  #searchContainer {
    -webkit-flex-direction: row;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    border-radius: 25px;
    border: solid 1px #00BCD4;
    box-shadow: 3px 3px 5px 6px #ccc;
    /*background-color: dodgerblue;*/
    margin: 2% 2%;
    min-height: 80vh;
    overflow: hidden;
    position: relative;
  }
  #searchBar {
    flex: 1;
  }

  #searchContainer > #searchResults {
    margin: 0% 0%;
    flex: 1 1 30%;
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: ghostwhite;
  }


  #searchContainer > #dataVis {
    margin: 1% 1%;
    background-color: black;
    border: solid;
    flex: 1 1 70%;
    order: 2;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
</style>


<md-content class="md-accent">
  <div id="searchContainer" >
    <div id="searchResults">
      <div id="searchBar">
        <chemauto-complete type="person"></chemauto-complete>
      </div>
    </div>
    <div id="dataVis" ng-controller="visController">
    </div>
  </div>
</md-content>
