<!--
 * HTML for the Search page.
 *
 * Status: VIEW.
 * Associated files: visController.js
 *
 * Description: The search functionality of this application is core to the entire point of the app, visualizations
 * also are strongly tied to the ability to search through the data. This html page will present the information
 * from the searches done by the user in a beautiful manner.
 *
 *
-->


<style>

      #searchContainer {
        -webkit-flex-direction: row;
          display: -webkit-flex;

        display: flex;
        flex-direction: row;


        justify-content: space-around;
        align-items: stretch;

        border-radius: 25px;
        border: solid 1px #00BCD4;

        box-shadow: 3px 3px 5px 6px #ccc;

        background-color: dodgerblue;


        margin: 2% 2%;

        min-height: 80vh;
          overflow: hidden;
          position: relative;

      }

      #searchContainer > #searchResults {
        margin: 1% 1%;
        flex: 1 1 30%;
        order: 1;




        display: flex;
        flex-direction: column;

        justify-content: flex-start;
        align-items: center;

        background-color: ghostwhite;



      }

     #searchContainer > #dataVis {
        margin: 1% 1%;
        background-color: ghostwhite;
        flex: 1 1 70%;
        order: 2;
        overflow: scroll;
        display: flex;
        flex-direction: column;

        justify-content: flex-start;
        align-items: center;
      }
      ul,li {
          list-style: none;
          margin: 0;
          padding: 0;
          width: 100%;
      }
      a {
          display: block;
          width: 100%;
          height: 100%;
      }
      .dynamicList {


          height:88%;
          overflow-y:auto;
          width:28%;
          position: absolute;
          align-items:center;
      }
</style>


<md-content class="md-accent">
  <div id="searchContainer" >

    <div id="searchResults" ng-controller="searchController">



        {{joinData}}
            <!--search bar-->
            <input ng-model="query">
            <hr></hr>
            <div class="dynamicList">
                 <!--items-->
            <ul>

                <li ng-repeat="person in people | filter:query">
                    <a href="#" style="color: #000000; text-decoration: none;">
                    <span>&emsp;{{person.name}}</span>
                    <br>&emsp;&emsp;&emsp;{{person.institution_id}}</br>
                    <hr></hr></a>
                </li>
            </ul>

            </div>


    </div>
    <div id="dataVis" ng-controller="visController">
    </div>
  </div>
</md-content>


