<div layout="column" ng-cloak>
    <md-content layout-padding>
        <form name="userForm">

            <!-- Their switch thing to show hints or not. -->
            <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
                <div flex-gt-sm="20">

                </div>
                <md-input-container>
                    <md-switch ng-model="showHints">Showing {{showHints ? "Hints" : "Errors"}}</md-switch>
                </md-input-container>
            </div>





            <div layout-gt-sm="row">

                <!-- First name edit text -->
                <md-input-container class="md-block" flex-gt-sm>
                    <label>First Name</label>
                    <input md-maxlength="30" required name="firstname" ng-model="user.firstname" />
                    <div class="hint" ng-if="showHints">Tell us what we should call you!</div>
                    <div ng-messages="userForm.name.$error" ng-if="!showHints">
                        <div ng-message="required">First name is required.</div>
                        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                    </div>
                </md-input-container>

                <!-- Last name edit text -->
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Last Name</label>
                    <input md-maxlength="30" required name="lastname" ng-model="user.lastname" />
                    <div class="hint" ng-if="showHints">Tell us what we should call you!</div>
                    <div ng-messages="userForm.name.$error" ng-if="!showHints">
                        <div ng-message="required">Last name is required.</div>
                        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                    </div>
                </md-input-container>

                <div flex="5" hide-xs hide-sm>
                    <!-- Spacer //-->
                </div>


                <!-- Degree choice choices.  -->
                    <div>
                        <form name="myForm">

                            <md-input-container class="md-block">
                                <label>Type of Degree</label>
                                <md-select name="myModel" ng-model="myModel" required>
                                    <md-option value="1">Doctorate</md-option>
                                    <md-option value="2">Mathers</md-option>
                                    <md-option value="3">BSc</md-option>
                                    <md-option value="4">BA</md-option>
                                    <md-option value="5">Highschool</md-option>
                                </md-select>
                                <div class="errors" ng-messages="myForm.myModel.$error" ng-if="myForm.$dirty">
                                    <div ng-message="required">Required</div>
                                </div>
                            </md-input-container>
                            <div layout="row">
                                <md-button ng-click="clearValue()" ng-disabled="!myModel" style="margin-right: 20px;">Clear</md-button>
                                <md-button ng-click="save()" ng-disabled="myForm.$invalid" class="md-primary" layout layout-align="center end">Save</md-button>
                            </div>
                        </form>

                </div>



                <div flex="40" hide-xs hide-sm>
                    <!-- Spacer //-->
                </div>
                </div>

            <!-- Start a new line YAAAS -->
            <div layout-gt-sm="row">
                <!--  -->
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Email</label>
                    <input name="email" ng-model="user.email"
                           required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                    <div class="hint" ng-show="showHints">How can we reach you?</div>
                    <div ng-messages="userForm.email.$error" ng-hide="showHints">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Your email must be between 10 and 100 characters long and look like an e-mail address.
                        </div>
                    </div>
                </md-input-container>
                <div flex="5" hide-xs hide-sm>
                    <!-- Spacer //-->
                </div>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Phone Number</label>
                    <input name="phone" ng-model="user.phone" ng-pattern="/^([0-9]{3}) [0-9]{3}-[0-9]{4}$/" />
                    <div class="hint" ng-show="showHints">(###) ###-####</div>
                    <div ng-messages="userForm.phone.$error" ng-hide="showHints">
                        <div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
                    </div>
                </md-input-container>
                <style>
                    /*
                     * The Material demos system does not currently allow targeting the body element, so this
                     * must go here in the HTML.
                     */
                    body[dir=rtl] .hint {
                        right: 2px;
                        left: auto;
                    }
                </style>
            </div>
        </form>
    </md-content>
</div>