<div ng-controller="supervisionNotificationController" layout="column" flex >
  <section layout="row">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-sm')">
      <md-list-item>
        <md-content layout-padding layout="row">
          <md-button class="md-raised md-primary" ng-click="verifySupervision()">
            Approve
          </md-button class="md-raised md-primary">
          <md-button class="md-raised md-primary" ng-click="rejectSupervision()">
            Reject
          </md-button class="md-raised md-primary">
        </md-content>
      </md-list-item>
      <md-list-item>
        <md-content ng-click="allDetails()">
          Full Details
        </md-content>
      </md-list-item>
      <md-list-item>
        <md-content ng-click="onlyMentorDetails()">
          Postdocs
        </md-content>
      </md-list-item>
      <md-list-item>
        <md-content ng-click="onlyMentoredDetails()">
          Mentored
        </md-content>
      </md-list-item>
      <md-list-item>
        <md-content ng-click="onlySupervisorDetails()">
          Degrees
        </md-content>
      </md-list-item>
      <md-list-item>
        <md-content ng-click="onlySupervisedDetails()">
          Supervised
        </md-content>
      </md-list-item>
    </md-sidenav>
    <div flex style="border-right: solid;">
      <md-toolbar class="md-warn" layout-align="center center" layout="column">
        <div> Supervisor </div>
        <div> {{supervisor.person.data.name}} </div>
        <div> {{supervisor.person.data.position}} </div>
        <div> {{supervisor.person.institution.name}} </div>
      </md-toolbar>
      <div ng-if="mentorDetails && supervisor.mentors.length > 0">
        <view-mentors data="supervisor.mentors"></view-mentors>
      </div>
      <div ng-if="supervisorDetails && supervisor.supervisors.length > 0">
        <view-supervisors data="supervisor.supervisors"></view-supervisors>
      </div>
      <div ng-if="supervisedDetails && supervisor.supervised.length > 0">
        <view-supervised data="supervisor.supervised"></view-supervised>
      </div>
      <div ng-if="mentoredDetails && supervisor.mentored.length > 0">
        <view-mentored data="supervisor.mentored"></view-mentored>
      </div>

    </div>
    <div flex style="border-left: solid;">
      <md-toolbar class="md-accent" layout-align="center center" layout="column">
        <div> Supervised </div>
        <div> {{supervised.person.data.name}} </div>
        <div> {{supervised.person.data.position}} </div>
        <div> {{supervised.person.institution.name}} </div>
      </md-toolbar>
      <div ng-if="mentorDetails && supervised.mentors.length > 0">
        <view-mentors data="supervised.mentors"></view-mentors>
      </div>
      <div ng-if="supervisorDetails && supervised.supervisors.length > 0">
        <view-supervisors data="supervised.supervisors"></view-supervisors>
      </div>
      <div ng-if="supervisedDetails && supervised.supervised.length > 0">
        <view-supervised data="supervised.supervised"></view-supervised>
      </div>
      <div ng-if="mentoredDetails && supervised.mentored.length > 0">
        <view-mentored data="supervised.mentored"></view-mentored>
      </div>
    </div>
  </section>
</div>
