<!-- @author Steven Myers -->
<div ng-controller="viewController" layout="column" flex>
  <section layout="row" flex>
      <md-sidenav flex class="md-sidenav-left md-whiteframe-z2"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-sm')">
        <md-list-item>
          <md-content class="md-padding">
            Full Details
          </md-content>
        </md-list-item>
        <md-list-item>
          <md-content class="md-padding">
            Mentors
          </md-content>
        </md-list-item>
        <md-list-item>
          <md-content class="md-padding">
            Mentored
          </md-content>
        </md-list-item>
        <md-list-item>
          <md-content class="md-padding">
            Supervisors
          </md-content>
        </md-list-item>
        <md-list-item>
          <md-content class="md-padding">
            Supervised
          </md-content>
        </md-list-item>
      </md-sidenav>
      <div layout="column" style="width:80%;">
        <md-content layout-padding>
          <md-toolbar layout-align="center center" layout="column">
            <div> {{data.person.data.name.toUpperCase()}} </div>
            <div> {{data.person.data.position.toUpperCase()}} </div>
            <div> {{data.person.institution.name.toUpperCase()}} </div>
          </md-toolbar>
        </md-content>
        <view-mentors data="data.mentors"></view-mentors>
     </div>
  </section>
</div>
