<!-- @author Steven Myers -->
<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Postdocs</span>
    </md-card-title-text>
  </md-card-title>
<md-list layout="row">
  <md-list-item ng-repeat="mentor in data" >
    <md-card ng-click="goNext(mentor)">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{mentor.institution.name}}</span>
          <span class="md-subhead">{{mentor.start}} - {{mentor.end}}</span>
          <span class="md-subhead">mentored by {{mentor.mentor.data.name}}</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>
  </md-list-item>
</md-list>
</md-card>
