<!-- @author Steven Myers -->
<style>
  #viewContent{
    height: 100%;
    height: 100vh;
    position: fixed;
    overflow: scroll;
  }
</style>
<div ng-controller="viewController" layout="column" flex >
  <section layout="row">
      <md-sidenav class="md-sidenav-left md-whiteframe-z2"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-sm')">
        <md-list-item>
          <md-content ng-click="allDetails()" id="viewPageAllDetailsButton">
            Full Details
          </md-content>
        </md-list-item>
        <md-list-item>
          <md-content ng-click="onlyMentorDetails()" id="viewPageMentorDetailsButton">
            Postdocs
          </md-content>
        </md-list-item>
        <md-list-item>
          <md-content ng-click="onlyMentoredDetails()" id="viewPageMentoredDetailsButton">
            Mentored
          </md-content>
        </md-list-item>
        <md-list-item>
          <md-content ng-click="onlySupervisorDetails()" id="viewPageSupervisorDetailsButton">
            Degrees
          </md-content>
        </md-list-item>
        <md-list-item>
          <md-content ng-click="onlySupervisedDetails()" id="viewPageSupervisedDetailsButton">
            Supervised
          </md-content>
        </md-list-item>
        <md-list-item>
          <md-content ng-click="gotoEdit()" id="viewPageGoToEditButton">
            Edit Person
          </md-content>
        </md-list-item>
        <md-list-item>
          <md-content ng-click="gotoHome()" id="viewPageGoToHomeButton">
            Home
          </md-content>
        </md-list-item>
      </md-sidenav>
      <div layout="column" style="width:80%;" id="viewContent">
        <md-toolbar id="viewPageTopBar" class="md-warn" layout-align="center center" layout="column" id="viewContentHeader">
          <div id="viewPageTopBarName"> {{data.person.data.name.toUpperCase()}} </div>
          <div id="viewPageTopBarPosition"> {{data.person.data.position.toUpperCase()}} </div>
          <div id="viewPageTopBarInstitution"> {{data.person.institution.name.toUpperCase()}} </div>
        </md-toolbar>

        <div ng-if="mentorDetails && data.mentors.length > 0">
          <view-mentors data="data.mentors" links="true"></view-mentors>
        </div>
        <div ng-if="supervisorDetails && data.supervisors.length > 0">
          <view-supervisors data="data.supervisors" links="true"></view-supervisors>
        </div>
        <div ng-if="supervisedDetails && data.supervised.length > 0">
          <view-supervised data="data.supervised" links="true"></view-supervised>
        </div>
        <div ng-if="mentoredDetails && data.mentored.length > 0">
          <view-mentored data="data.mentored" links="true"></view-mentored>
        </div>
        <!-- bad -->
        <br><br><br><br><br>
      </div>
  </section>
</div>
